<h1> IBM_Test </h1>

In this Jupyter Notebook I present to us exercize to course Tools for Data Science

Some of the popular languages that Data Scientists use are:
<ul>
 <li>Python</li>
 <li>SQL</li>
 <li>R</li>
 <li>Julia</li>
 <li>Scala</li>
 <li>Java</li>
</ul>

Some of the commonly used libraries used by Data Scientists include: 
<ul>
    <li>NumPy</li>
    <li>Pandas</li> 
    <li>PyTorch</li>
</ul>

| Data Sience Tools |
| ------- |
| IBM SPSS |
| Jupyter Notebook |
| Apache Spark |

<h3> Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This cells change 200 min to h by diving by 60 and rounds them two places after the comma
round (200 / 60, 2)

3.33

<b>Objectives:</b>
<ul>
    <li>Popular languages that Data Scientists</li>
    <li>Commonly used libraries used by Data Scientists include</li>
    <li>Data Sience Tools</li>
    <li>Few examples of evaluating arithmetic expressions in Python</li>
    </ul>

<h2>Author</h2>
Oskar Wi≈õniewski